<header>

    <div class="titre_principale">
        <p>
            <img class="logo" src="../../../images/logo.png" alt="Logo de Sospetlost" />
        </p>

        <h1>SOS PETLOST</h1>

    </div>

     <nav>

        <ul>
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="{{path('animals_index')}}">Annonces</a></li>
             <li><a href="{{path('annonces')}}">Mes annonces</a></li>
            <li><a href="{{path('actuality_index')}}">Actualités</a></li>
             <li><a href="{{path('user_index')}}">Utilisateurs</a></li>
             <li><a href="/logout">Déconnexion</a></li>

  
        </ul>
    </nav>

</header>
