{% extends 'front/layout.html.twig' %}

{% block title %}SOS PETLOST{% endblock %}

{% block content %}

    <p class="btn-retour"><a href="{{ path('annonces') }}">Retour aux annonces</a></p>

    <div class="container2">

        <div class="show-annonce-user">

            {% if animal.name %}
                 <p class="name">{{ animal.name }}</p>
            {% else %}
                <p class="name">Perdu</p>
            {% endif %}

            <div class="detail">

                <p><img class="imgShowAnimal" src="{{ vich_uploader_asset(animal.image, 'file') }}" alt="{{ animal.name }}" /></p>

                 <div class="presentation">

                    <p>Race: {{ animal.race }}</p>
                    <p>Sexe: {{ animal.sexe }}</p>
                    <p>Couleur: {{ animal.color }}</p>

                    {% if animal.microship %}
                        <p>Identifié: {{ animal.microship ? 'Oui' : 'Non' }}</p>
                     {% else %}
                        <p>Identifié: Je ne sais pas</p>
                    {% endif %}

                    {% if animal.microship %}
                        <p>Stérilisé: {{ animal.sterelise ? 'Oui' : 'Non' }}</p>
                     {% else %}
                        <p>Stérilisé: Je ne sais pas</p>
                    {% endif %}

                    <p>Particularité: {{ animal.particularity }}</p>
                    <p class="date-show">Perdu le {{ animal.date ? animal.date|date('d/m/Y') : '' }}</p>

                     <div class="adresse">

                        {% if animal.missing %}
                            <p class="sous-titre">Adresse où l'animal a disparu</p>
                            <p>{{ animal.address }} {{ animal.postcode }} {{ animal.city }}</p>
                        {% else %} 
                            <p class="sous-titre">Adresse où l'animal a été retrouvé</p>
                        <p>{{ animal.address }} {{ animal.postcode }} {{ animal.city }}</p>
                        {% endif %}
                    </div>

                    <div class="contact">

                        {% if animal.missing %}
                            <p class="sous-titre">Vous l'avez trouvé ?</p>
                            <p>Contactez son propriétaire au </p>
                            <p>ou à l'adresse mail suivante: </p>
                        {% else %} 
                            <p class="sous-titre">Vous l'avez reconnu ?</p>
                            <p>Contactez le déclarant au </p>
                            <p>ou à l'adresse mail suivante: </p>
                        {% endif %}
                    </div>
                </div>
            </div>

             <p class="description">{{ animal.description }}</p>
        </div>
    </div>

{% endblock %}