{% extends 'front/layout.html.twig' %}

{% block content %}

<h2>Les alertes Découvertes</h2>

<div class="container">

    {% for animal in animals %}

    <div class="animals">

        <p class="info">{{ animal.name }}</p>
        <p class="info-img"><img class="imgAnimal" src="{{ vich_uploader_asset(animal.image, 'file') }}" alt="{{ animal.name }}" /></p>        
        <p class="info" >{{ animal.city }} ({{ animal.postcode }}) </p>

        <div class="date-annonce">

            <p class="date">{{ animal.date ? animal.date|date('d/m/Y') : '' }}</p>
            <p class="annonce-show" ><a href="{{ path('showTrouve', {'id': animal.id}) }}">Voir</a>
        </div>
    
    </div>

    {% endfor %}

    {{ knp_pagination_render(animals) }}

</div>
{% endblock %}